<html>
<head>
    <title>
        Sign In
    </title>
<body>
    <table align="center">
        <tr align="center">
            <td>
            </td>
        </tr>
        <tr align="center">
            <td>
            </td>
        </tr>
        <tr height="80px">
            <td></td>
        </tr>
        <tr>
            <td>
                <form action="../controller/signin_check.php" method="post">
                    <fieldset>
                        <legend>Sign In</legend>
                        <table align="center" width="100%">
                            <tr>
                                <td>
                                    <table align="center">
                                        <tr>
                                            <td>User Name <br>
                                                <input type="text" name="uname" value="" id="uname_id" required>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Password <br>
                                                <input type="password" name="password" value="" id="pass_id" required>
                                            </td>
                                        </tr>


                                        <tr align="center">
                                            <td>
                                                <input type="submit" name="signin" value="Sign In" <input type="reset"
                                                    name="reset" value="Reset">
                                                <a href="login.html">Sign In</a>
                                            </td>

                                        </tr>
                                    </table>
                    </fieldset>
                </form>
            </td>
        </tr>
    </table>
    <h1 id="change_ajax"></h1>
</body>
</head>
</html>